#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so or badly displayed.
#
# Please keep this file sorted alphabetically, and email in lowercase.
# The format used is:
#
#   Firstname Lastname <email@domain.tld>
#

Alexei Fedorov <alexei.fedorov@arm.com>
Alexei Fedorov <alexei.fedorov@arm.com> <Alexei.Fedorov@arm.com>
Amy Chan <amy.chan@intel.com>
Andrew Fish <afish@apple.com> <afish@apple.com>
Andrew Fish <afish@apple.com> <ajfish@6f19259b-4bc3-4df7-8a09-765794883524>
Andrew Fish <afish@apple.com> <andrewfish@6f19259b-4bc3-4df7-8a09-765794883524>
Antoine Cœur <coeur@gmx.fr>
Antoine Cœur <coeur@gmx.fr> <Coeur@gmx.fr>
Ard Biesheuvel <ard.biesheuvel@linaro.org> <abiesheuvel@Edk2>
Ashley DeSimone <ashley.e.desimone@intel.com> <ashdesimone@6f19259b-4bc3-4df7-8a09-765794883524>
Ashraf Javeed <ashraf.javeed@intel.com>
Baraneedharan Anbazhagan <anbazhagan@hp.com>
Bob Feng <bob.c.feng@intel.com>
Bob Feng <bob.c.feng@intel.com> <bobfeng@6f19259b-4bc3-4df7-8a09-765794883524>
Bob Feng <bob.c.feng@intel.com> <bobfeng@Edk2>
Brendan Jackman <brendan.jackman@arm.com> <Brendan.Jackman@arm.com>
Brendan Jackman <brendan.jackman@arm.com> <Brendan.JackMan@arm.com>
Chao Zhang <chao.b.zhang@intel.com>
Chao Zhang <chao.b.zhang@intel.com> <czhang46>
Chao Zhang <chao.b.zhang@intel.com> <czhang46@6f19259b-4bc3-4df7-8a09-765794883524>
Chao Zhang <chao.b.zhang@intel.com> <czhang46@Edk2>
Chasel Chiu <chasel.chiu@intel.com>
Chen A Chen <chen.a.chen@intel.com>
Cheng Ching Jen <ching.jenx.cheng@intel.com>
Christian Rodriguez <christian.rodriguez@intel.com>
Christopher J Zurcher <christopher.j.zurcher@intel.com>
Dandan Bi <dandan.bi@intel.com>
Dandan Bi <dandan.bi@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
Dandan Bi <dandan.bi@intel.com> <dandanbi@Edk2>
Dandan Bi <dandan.bi@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
David Chan <chenwei01@thtfpc.com>
David Wei <david.wei@intel.com>
David Wei <david.wei@intel.com> <zwei4@Edk2>
Derek Lin <derek.lin2@hpe.com>
Digant H Solanki <digant.h.solanki@intel.com>
Eric Dong <eric.dong@intel.com>
Eric Dong <eric.dong@intel.com> Eric Dong <eirc.dong@intel.com>
Eric Dong <eric.dong@intel.com> <ydong10@6f19259b-4bc3-4df7-8a09-765794883524>
Eric Dong <eric.dong@intel.com> <ydong10@Edk2>
Eric Jin <eric.jin@intel.com>
Eric Jin <eric.jin@intel.com> <jjin9@6f19259b-4bc3-4df7-8a09-765794883524>
Erik Bjorge <erik.c.bjorge@intel.com> <geekboy15a@6f19259b-4bc3-4df7-8a09-765794883524>
Eugene Cohen <eugene@hp.com>
