#
# This list is used by git-shortlog to fix a few botched name translations
# in the git archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so or badly displayed.
#
# Please keep this file sorted alphabetically, and email in lowercase.
# The format used is:
#
#   Firstname Lastname <email@domain.tld>
#

Albecki Mateusz <mateusz.albecki@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Albecki, Mateusz3be>
Alex Gu <xgu3@users.sourceforge.net> <xgu3@6f19259b-4bc3-4df7-8a09-765794883524>
Andrew Fish <afish@apple.com> <ajfish@6f19259b-4bc3-4df7-8a09-765794883524>
Andrew Fish <afish@apple.com> <andrewfish@6f19259b-4bc3-4df7-8a09-765794883524>
Chao Zhang <chao.b.zhang@intel.com> <czhang46>
Chao Zhang <chao.b.zhang@intel.com> <czhang46@6f19259b-4bc3-4df7-8a09-765794883524>
Dandan Bi <dandan.bi@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
Dandan Bi <dandan.bi@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Bi, Dandan08b>
Daryl McDaniel <daryl.mcdaniel@intel.com> <darylm503@6f19259b-4bc3-4df7-8a09-765794883524>
David Huang <hhuan13@users.sourceforge.net> <davidhuang@6f19259b-4bc3-4df7-8a09-765794883524>
David Huang <hhuan13@users.sourceforge.net> <hhuan13@6f19259b-4bc3-4df7-8a09-765794883524>
Ding Ting <tding1@users.sourceforge.net> <tding1@6f19259b-4bc3-4df7-8a09-765794883524>
Elvin Li <elvin.li@intel.com> <li-elvin@6f19259b-4bc3-4df7-8a09-765794883524>
Eric Dong <eric.dong@intel.com> ydong10 <ydong10@6f19259b-4bc3-4df7-8a09-765794883524>
Eric Jin <eric.jin@intel.com> <jjin9@6f19259b-4bc3-4df7-8a09-765794883524>
Erik Bjorge <erik.c.bjorge@intel.com> <geekboy15a@6f19259b-4bc3-4df7-8a09-765794883524>
Feng Tian <feng.tian@intel.com> <eric_tian@6f19259b-4bc3-4df7-8a09-765794883524>
Feng Tian <feng.tian@intel.com> <erictian@6f19259b-4bc3-4df7-8a09-765794883524>
Fu Siyuan <siyuan.fu@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=sfu5>
GregX Yeh <gregx.yeh@intel.com> GregX Yeh <devel@edk2.groups.io>
Guo Dong <guo.dong@intel.com> <gdong1>
Guo Dong <guo.dong@intel.com> <gdong1@6f19259b-4bc3-4df7-8a09-765794883524>
Hess Chen <hesheng.chen@intel.com> <hchen30@6f19259b-4bc3-4df7-8a09-765794883524>
Hot Tian <hot.tian@intel.com> <hhtian@6f19259b-4bc3-4df7-8a09-765794883524>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey@6f19259b-4bc3-4df7-8a09-765794883524>
Jaben Carsey <jaben.carsey@intel.com> <jcarsey@Edk2>
Jaben Carsey <jaben.carsey@intel.com> </o=Intel/ou=Americas01/cn=Workers/cn=Carsey, Jaben>
Jeff Fan <jeff.fan@intel.com> <vanjeff@6f19259b-4bc3-4df7-8a09-765794883524>
Jian J Wang <jian.j.wang@intel.com> Jian J Wang <devel@edk2.groups.io>
Jiewen Yao <jiewen.yao@intel.com> <jyao1@6f19259b-4bc3-4df7-8a09-765794883524>
Jiewen Yao <jiewen.yao@intel.com> <jyao1@Edk2>
Jiong Gong <jgong5@users.sourceforge.net> <jgong5@6f19259b-4bc3-4df7-8a09-765794883524>
Jordan Justen <jordan.l.justen@intel.com> <c:/oc6/Git/O=INTEL/OU=AMERICAS01/CN=WORKERS/CN=JUSTEN, JORDAN L>
Jordan Justen <jordan.l.justen@intel.com> <jljusten@6f19259b-4bc3-4df7-8a09-765794883524>
Ken Lu <ken.lu@intel.com> <klu2@6f19259b-4bc3-4df7-8a09-765794883524>
Kun Gui <kun.gui@intel.com> <gikidy@6f19259b-4bc3-4df7-8a09-765794883524>
Larry Hauch <larry.hauch@intel.com> edk2 dev <edk2.dev@edk2.org>
Larry Hauch <larry.hauch@intel.com> <lhauch>
Larry Hauch <larry.hauch@intel.com> <lhauch@6f19259b-4bc3-4df7-8a09-765794883524>
Lee Leahy <leroy.p.leahy@intel.com> <lpleahy@6f19259b-4bc3-4df7-8a09-765794883524>
Lee Rosenbaum <leegrosenbaum@users.sourceforge.net> <leegrosenbaum@6f19259b-4bc3-4df7-8a09-765794883524>
Lei Jin <ljin6@users.sourceforge.net> <ljin6@6f19259b-4bc3-4df7-8a09-765794883524>
Leon Li <leon.li@intel.com> <xli24@6f19259b-4bc3-4df7-8a09-765794883524>
Liming Gao <liming.gao@intel.com> <lgao4@6f19259b-4bc3-4df7-8a09-765794883524>
Maggie Chu <maggie.chu@intel.com> </o=Intel/ou=External (FYDIBOHF25SPDLT)/cn=Recipients/cn=fe425ca7e5f4401abed22b904fe5d964>
Marvin Häuser <Marvin.Haeuser@outlook.com> edk2-devel <edk2-devel-bounces@lists.01.org>
Michael Kinney <michael.d.kinney@intel.com> <mdkinney@6f19259b-4bc3-4df7-8a09-765794883524>
Michael Kinney <michael.d.kinney@intel.com> </o=Intel/ou=Americas01/cn=Workers/cn=Kinney, Michael D>
Michael Krau <michaelx_krau@users.sourceforge.net> <michaelx_krau@6f19259b-4bc3-4df7-8a09-765794883524>
Michael Kubacki <michael.a.kubacki@intel.com> </o=Intel/ou=External (FYDIBOHF25SPDLT)/cn=Recipients/cn=3c8b0226e75f4ab08d20c151cb7a8a72>
Mike Wu <mike.wu@intel.com> <mikewuping@6f19259b-4bc3-4df7-8a09-765794883524>
Myron Porter <myronporter@users.sourceforge.net> <MyronPorter@6f19259b-4bc3-4df7-8a09-765794883524>
Olivier Martin <olivier.martin@arm.com> <oliviermartin>
Olivier Martin <olivier.martin@arm.com> <oliviermartin@6f19259b-4bc3-4df7-8a09-765794883524>
Penny Gao <pgao2@users.sourceforge.net> <pgao2@6f19259b-4bc3-4df7-8a09-765794883524>
Qian Ouyang <qian.ouyang@intel.com> <qianouyang@6f19259b-4bc3-4df7-8a09-765794883524>
Qian Ouyang <qian.ouyang@intel.com> <qouyang@6f19259b-4bc3-4df7-8a09-765794883524>
Qing Huang <qing.huang@intel.com> <qhuang8@6f19259b-4bc3-4df7-8a09-765794883524>
Qin Long <qin.long@intel.com> <qlong>
Qin Long <qin.long@intel.com> <qlong@6f19259b-4bc3-4df7-8a09-765794883524>
Rebecca Cran <rebecca@bluestop.org> <rebecca=bluestop.org@groups.io>
Rebecca Cran <rebecca@bluestop.org> Rebecca Cran via edk2-devel <edk2-devel@lists.01.org>
Richard Du <xdu2@users.sourceforge.net> <xdu2@6f19259b-4bc3-4df7-8a09-765794883524>
Richard Thomaiyar <richard.marian.thomaiyar@intel.com> edk2-devel On Behalf Of rthomaiy <[mailto:edk2-devel-bounces@lists.01.org]>
Rui Sun <rsun3@users.sourceforge.net> <rsun3@6f19259b-4bc3-4df7-8a09-765794883524>
Ruiyu Ni <ruiyu.ni@intel.com> <C:/Program Files (x86)/Git/O=Intel/OU=Pacifica02/cn=Recipients/cn=rni2>
Ruiyu Ni <ruiyu.ni@intel.com> <niruiyu@6f19259b-4bc3-4df7-8a09-765794883524>
Scott Wang <qwang12@users.sourceforge.net> <qwang12@6f19259b-4bc3-4df7-8a09-765794883524>
Siyuan Fu <siyuan.fu@intel.com> <sfu5@6f19259b-4bc3-4df7-8a09-765794883524>
Stanely Chen <jchen20@users.sourceforge.net> <jchen20@6f19259b-4bc3-4df7-8a09-765794883524>
Star Zeng <star.zeng@intel.com> <lzeng14@6f19259b-4bc3-4df7-8a09-765794883524>
Ting Ye <ting.ye@intel.com> <tye1@6f19259b-4bc3-4df7-8a09-765794883524>
Ting Ye <ting.ye@intel.com> <tye@6f19259b-4bc3-4df7-8a09-765794883524>
Vitaly Cheptsov <vit9696@protonmail.com> Vitaly Cheptsov via Groups.Io <vit9696=protonmail.com@groups.io>
Vladimir Olovyannikov <vladimir.olovyannikov@broadcom.com> Vladimir Olovyannikov via edk2-devel <edk2-devel@lists.01.org>
Wang Fan <fan.wang@intel.com> edk2-devel-bounces@lists.01.org <edk2-devel-bounces@lists.01.org>
Yan Wang <ywang@users.sourceforge.net> <ywang@6f19259b-4bc3-4df7-8a09-765794883524>
Yao Jiewen <jiewen.yao@intel.com> <jyao1>
Yao Jiewen <jiewen.yao@intel.com> <jyao1@6f19259b-4bc3-4df7-8a09-765794883524>
Yao Jiewen <jiewen.yao@intel.com> <jyao1@Edk2>
Yunhua Feng <yunhuax.feng@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Feng, YunhuaX4e1>
Zailiang Sun <zailiang.sun@intel.com> </o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Sun, Zailiangf5d>
Zhang Lubo <lubo.zhang@intel.com> <C:/Program Files (x86)/Git/o=Intel/ou=Exchange Administrative Group (FYDIBOHF23SPDLT)/cn=Recipients/cn=Zhang, Lubob8d>
